html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #484848;
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.header, .footer {
    width: 100%;
    background-color: #171717;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: auto; /* push footer to the bottom */
    text-align: center;
}

.main {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.left {
    flex: 0 1 16.66%; /* Flex-grow 0, flex-shrink 1, initial size 16.66% */
    background-color: #282828;
    color: white;
    padding: 20px;
    min-width: 150px; /* Define a minimum width so it doesn't shrink too small */
    box-sizing: border-box; /* Include padding in the width calculation */
    overflow-wrap: break-word; /* Allow text to break within words */
}


.content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.middle-side, .right-side {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.middle-side {
    flex: 4;
}

.middle1, .middle2, .right1, .right2 {
    color: white;
    padding: 20px;
    box-sizing: border-box; /* include padding in width calculations */
}

.middle1 {
    background-color: #715fa6;
    flex-grow: 0;
}

.middle2 {
    background-color: #484848;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right1 {
    background-color: #282828;
    flex-grow: 1;
}

.right2 {
    background-color: #715fa6;
    flex-grow: 0;
}

.x, .y {
    background-color: #484848;
    color: #9b82ff;
    margin: 30px;
    width: max-content;
    padding: 5px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav__text {
    padding-top: 0;
    margin-top: 0;
}

ul {
    list-style: none;
}
.nav__link {
    color: white;
    text-decoration: none;
    transition: color 0.2s linear;
    font-size: 30px;
    margin-top: 20px;
}

li {
    margin-bottom: 20px;
}

.nav__link:hover {
    color: #9b82ff;
}

.lavender {
    border-radius: 30px;
    margin-top: 20px;
    max-width: 100%;
    display: block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}



