html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #484848;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.header, .footer {
    width: 100%;
    background-color: #171717;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: auto; /* Push footer to the bottom */
    text-align: center;
}

.main {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.left, .middle1, .middle2, .right1, .right2 {
    color: white;
    padding: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box; /* Include padding in width calculations */
}

.left {
    flex: 0 0 16.66%; /* Equivalent to grid columns 1-3 */
    background-color: #282828;
}

.middle-section {
    display: flex;
    flex-direction: column;
    flex: 1; /* Takes the remaining space */
}

.middle1 {
    background-color: #715fa6;
    width: 100%;
}

.middle2 {
    background-color: #484848;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* Takes remaining vertical space */
}

.right-section {
    display: flex;
    flex-direction: column;
    flex: 0 0 16.66%; /* Equivalent to grid columns 11-13 */
}

.right1 {
    background-color: #282828;
    flex-grow: 1; /* Takes most of the height */
}

.right2 {
    background-color: #715fa6;
}

.x, .y {
    background-color: #484848;
    color: #9b82ff;
    margin: 30px;
    width: max-content;
    padding: 5px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40px;
}

.nav__text {
    padding-top: 0;
    margin-top: 0;
}

ul {
    list-style: none;
}
.nav__link {
    color: white;
    text-decoration: none;
    transition: color 0.2s linear;
    font-size: 30px;
    margin-top: 20px;
}

li {
    margin-bottom: 20px;
}

.nav__link:hover {
    color: #9b82ff;
}

.lavender {
    border-radius: 30px;
    margin-top: 20px;
    max-width: 100%;
    display: block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

