html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #484848;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: repeat(12, auto);
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    min-height: 100%;
}

.header, .footer {
    display: grid;
    grid-column: 1 / 13;
    background-color: #171717;
    overflow: hidden;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-row: 1 / 2;
}

.footer {
    grid-row: 12 / 13;
}

.left, .middle1, .middle2, .right1, .right2 {
    color: white;
    padding: 20px;
    overflow-wrap: break-word;
}

.left {
    grid-column: 1 / 3;
    grid-row: 2 / 12;
    background-color: #282828;
}

.middle1 {
    grid-column: 3 / 11;
    grid-row: 2 / 3;
    background-color: #715fa6;
}

.middle2 {
    display: grid;
    grid-column: 3 / 11;
    grid-row: 3 / 12;
    grid-template-rows: repeat(12, auto);
    background-color: #484848;
    justify-items: center;
}

.right1 {
    grid-column: 11 / 13;
    grid-row: 2 / 11;
    background-color: #282828;
}

.right2 {
    grid-column: 11 / 13;
    grid-row: 11 / 12;
    background-color: #715fa6;
}

.x, .y {
    background-color: #484848;
    color: #9b82ff;
    width: max-content;
    padding: 5px;
    margin: 30px;
}

.y {
    grid-column: 11 / 13;
    justify-self: end;
}

.nav__text {
    margin-top: 0;
}

ul {
    list-style: none;
}

.nav__link {
    color: white;
    text-decoration: none;
    transition: color 0.2s linear;
    font-size: 30px;
    padding: 5px;
}

li {
    margin-bottom: 20px;
}

.nav__link:hover {
    color: #9b82ff;
}

.lavender {
    border-radius: 30px;
    margin-top: 20px;
    max-width: 100%;
    display: block;
}





